header {
    color: var(--color-text-important);
    background-color: var(--color-background-header);
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding: var(--size-spacing-medium);
}

header a {
    color: var(--color-link);
}

body {
    color: var(--color-text);
    background-color: var(--color-background);
}

.champ_splash {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt,
summary {
  color: var(--color-text-important);
}

section {
    
}