/* .stats {
    display: grid;
    grid-template-columns:
        subgrid;
    grid-column:
        auto / span 4;
} */

.stats {
    display: flex;

    /* etc., as before */
    &>* {
        width: fit-content;
        flex: 1;
        /* shorthand for:
    flex-grow: 1;
    flex-basis: 0%;
    */
    }
}