:root {
    --color-blueside-dark: #4171D6;
    --color-blueside-light: #81ACFF;
    --color-blueside-background: #28344E;
    --color-redside-dark: #D31A45;
    --color-redside-light: #E84057;
    --color-redside-background: #59343B;

    --color-text: #B7B7C9;
    --color-text-important: #C89B3C;
    --color-text-less-important: #C8AA6E;

    --color-text-background: #ddd;

    --color-link: var(--color-text-important);
    --color-link-inverted: #C8AA6E;

    --color-background: #1E282D;
    --color-background-lighter: #3C3C41;
    --color-background-header: #515163;
    --color-background-stats: #424254;

    --color-void: #9400D3;

    --size-spacing-small: 0.25rem;
    --size-spacing-medium: 0.5rem;
    --size-spacing-large: 1rem;
    --size-spacing-xlarge: 2rem;

    --font-family-body: Inter, sans-serif;
    --font-family-display: Play, serif;

    --font-line-height-body: 1.5;
    --font-line-height-display: 1.125;

    --font-weight-normal: 400;
    --font-weight-light: 200;
    --font-weight-bold: 700;
}